.App.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .navbar {
    color: #999;
    border-color: #333;
  }

  .ag-theme-alpine-dark {
    margin-left: 5px;
    height: 310px;
    .button {
      color: rgb(172, 167, 167);
      border: none;
      background-color: rgb(56, 53, 53);
      margin: 10px;
    }
    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background: whitesmoke;
      border: '2px solid #000';
      box-shadow: 24px;
      padding: 4px;

      .modal-modal-description {
        margin-top: 2px;
      }
    }
    .modal-buttons {
      display: flex;
    }
  }

  .search {
    border-color: gray;
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
  }

  .top {
    .logo {
      color: #999;
    }
  }

  hr {
    border-color: #333;
  }

  ul {
    li {
      &:hover {
        background-color: #333;
      }

      .icon {
        color: #999;
      }
    }
  }
}
